@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');
body {
    font-family: 'Inter', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#border-left{

    border-right: 3px solid ;
    border-bottom: 3px solid ;
    
    position: absolute;

    bottom: 0%;
    top: 50%;

    left:  75%;

    right: 0%;
    
    }